<div *ngIf="firebaseUser">
    <div class="container">
        <div class="row">
            <div class="col-md-4 content-center mx-auto">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="/assets/img/logo_olpthvp.png" alt="" style="width: 100px;">
                            </div>
                            <h4 style="text-align: center">Đổi mật khẩu cho tài khoản</h4>
                        </div>

                        <div class="content">
                            <label>Email</label>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input type="email" class="form-control" placeholder="email"  name="email" [value]="firebaseUser.email" disabled required>
                            </div>
                            <label>Mật khẩu hiện tại</label>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                                <input [(ngModel)]="old_password" type="password" placeholder="Mật khẩu hiện tại"
                                       class="form-control" name="password">
                            </div>
                            <label>Mật khẩu mới</label>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                                <input [(ngModel)]="new_password1" type="password" placeholder="Mật khẩu mới"
                                       class="form-control" name="password">
                            </div>
                            <label>Nhắc lại mật khẩu mới</label>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                                <input [(ngModel)]="new_password2" type="password" placeholder="Nhắc lại mật khẩu mới"
                                       class="form-control" name="password">
                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="button" (click)="login()" class="btn btn-primary btn-round btn-lg btn-block">
                                Đăng
                                nhập
                            </button>
                        </div>
                        <div class="pull-left">
                            <a routerLink="/register"
                               style="padding-left: 10px; border: none; color: #f96332; cursor: pointer; background: none">Tạo
                                tài khoản mới</a>
                        </div>
                        <div class="pull-right">
                            <a routerLink="/resetpassword"
                               style="padding-right: 10px; border: none; color: #f96332; cursor: pointer; background: none">Quên
                                mật
                                khẩu
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>