<footer class="section">
    <div class="container-fluid hoangdd-footer">
        <address class="hoangdd-address ">
            <div class="hoangdd-address-item"><i class="fa fa-home white-color" aria-hidden="true"></i> BTC cuộc thi Olympic Tin học văn phòng Học viện Tài chính
            </div>
            <div class="hoangdd-address-item">
                <i class="fa fa-mobile" aria-hidden="true"></i> Hotline: <a class="hoangdd-a-item" href="tel:+84989596889">098 959 6889 (Mr Hoàng)</a> |
                <a class="hoangdd-a-item" href="tel:+84972224155">097 222 4155 (Mr Tuấn)</a>
            </div>
            <div class="hoangdd-address-item"><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a class="hoangdd-a-item" href="mailto: olympicthvp.hvtc@gmail.com">olympicthvp.hvtc@gmail.com</a></div>
            <div class="hoangdd-address-item"><i class="fa fa-facebook" aria-hidden="true"></i> Fanpage: <a class="hoangdd-a-item" href="https://www.facebook.com/olympictinhocvanphonghvtc/">https://www.facebook.com/olympictinhocvanphonghvtc/ </a></div>
        </address>
    </div>
</footer>