<footer class="section">
    <div class="container-fluid hoangdd-footer">
        <address class="hoangdd-address ">
            <div class="hoangdd-address-item"><i class="fa fa-home white-color" aria-hidden="true"></i> BTC cuộc thi Olympic Tin học văn phòng Học viện Tài chính
            </div>
            <div class="hoangdd-address-item">
                <i class="fa fa-mobile" aria-hidden="true"></i> Hotline: <a class="hoangdd-a-item" href="tel:+84989596889">0989596889</a> |
            </div>
            <div class="hoangdd-address-item"><i class="fa fa-envelope" aria-hidden="true"></i> Email: <a class="hoangdd-a-item" href="mailto: duhociccplus@gmail.com">hoangdd87@gmail.com </a></div>
            <div class="hoangdd-address-item"><i class="fa fa-facebook" aria-hidden="true"></i> Fanpage: <a class="hoangdd-a-item" href="https://www.facebook.com/olympictinhocvanphong2016/">https://www.facebook.com/olympictinhocvanphong2016/ </a></div>
        </address>
    </div>
</footer>