<div class="section">
    <div class="container">
        <h2>Danh sách thí sinh đăng ký dự thi</h2>
        <p style="text-align: center; color: red" *ngIf = "isAdmin">* Tài khoản Admin</p>
        <div class="col-sm-6 col-lg-3">
            <p style="margin-left: 20px;">Bạn hãy tìm kiếm theo họ tên hoặc lớp</p>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Tìm theo tên hoặc lớp"
                       style="min-width: 250px;max-width: 100%" [(ngModel)]="userFilter.searchKey">
            </div>
        </div>
        <button *ngIf = "isAdmin" (click)="exportToExcel()" class="btn btn-primary">Export to excel</button>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>SBD</th>
                <th>Họ tên</th>
                <th>Lớp</th>
                <th>Ca thi</th>
                <th>Phòng thi</th>
                <th *ngIf = "isAdmin">Email</th>
                <th *ngIf = "isAdmin">SĐT</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let user of finalUsers | filterBy: userFilter; let i = index;">
                <th scope="row">{{i+1}}</th>
                <td>{{user.SBD}}</td>
                <td>{{user.hoten}}</td>
                <td>{{user.lopnc}}</td>
                <th>{{user.cathi}}</th>
                <th>{{user.phongthi}}</th>
                <td *ngIf = "isAdmin">{{user.Email}}</td>
                <td *ngIf = "isAdmin">{{user.sdt}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>