<div class="container">
    <div class="row">
        <div class="col-md-4 content-center mx-auto">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <div class="logo-container">
                            <img src="/assets/img/logo_olpthvp.png" alt="" style="width: 100px;">
                        </div>
                        <h4 style="text-align: center">Lấy lại mật khẩu</h4>
                        <p>Email của bạn</p>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                            <input [(ngModel)]="user.email" type="email" class="form-control" placeholder="email"
                                   name="email" required>
                        </div>

                    </div>
                    <div class="footer text-center">
                        <button type="button" (click)="resetPassword()" class="btn btn-primary btn-round btn-lg btn-block">
                            Gửi
                        </button>
                    </div>
                    <div class="pull-left">
                        <a routerLink="/register"
                           style="padding-left: 10px; border: none; color: #f96332; cursor: pointer; background: none">Tạo tài khoản mới</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>