<img class="hoangdd-banner" src="assets/img/banner.png" alt="">
<div class="container">
    <div class="section section-story">
        <div class="col-md-12 ml-auto mr-auto text-center">
            <h2><i class="now-ui-icons education_agenda-bookmark"></i> Giới thiệu cuộc thi Olympic Tin học Học viện Tài
                chính</h2>
            <h5 class="description">

                Olympic Tin học (tiền thân là cuộc thi Olympic Tin học văn phòng) là một cuộc thi thường niên được tổ
                chức
                bởi
                Liên chi đoàn Khoa Hệ thống thông tin kinh tế và Câu lạc bộ Tin học Học viện Tài chính <br>

                Mục đích kỳ thi nhằm tạo ra một sân chơi bổ ích, lý thú cho các bạn Sinh viên yêu thích tin học. Cuộc
                thi
                đặc biệt nhấn mạnh vào
                các kiến thức, kĩ năng tin học cần thiết với bất cứ một sinh viên khối ngành Kinh tế nào như Tin học văn
                phòng, tin học ứng dụng trong kinh tế, các xu hướng phát triển nổi bật trong ngành CNTTN ...

                Cuộc thi cũng giúp nâng cao nhận thức và tạo điều kiện cho sinh viên Học viện tiếp cận các kỹ năng tin
                học
                theo tiêu chuẩn quốc tế,
                nâng cao kết quả học tập và hiệu quả trong công việc sau này;
            </h5>
            <div class="separator separator-primary"></div>
        </div>

        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('/assets/img/2.jpg')">
                    </div>
                    <!-- Second image on the left side of the article -->
                    <div class="image-container" style="background-image: url('/assets/img/1.jpg')"></div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('/assets/img/3.jpg')"></div>
                    <div class="hoangdd-text">
                        <p> Năm 2016 cuộc thi "Olympic Tin học văn phòng" tổ chức lần đầu tiên và đã thu hút được sự
                            quan
                            tâm
                            tham gia rất lớn của các bạn sinh viên khi có tới hơn một nghìn thí sinh đăng ký dự thi
                        </p>
                        <p>
                            Năm 2017, cuộc thi được đổi tên thành: "Olympic Tin học Học iện tài chính" với chủ đề là
                            "Cách
                            mạng
                            công nghiệp 4.0". Cuộc thi
                            không những yêu cầu ở các thí sinh thành thạo những kĩ năng sử dụng các công cụ tin học văn
                            phòng
                            (như bộ Microsoft Office, Hệ điều hành Windows...) mà còn
                            đòi hỏi thí sinh nắm bắt được những kiến thức thời sự, hiểu biết cơ bản về sự phát triển
                            trong
                            ngành
                            CNTT thời gian gần đây.
                        </p>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="section section-rules">
        <div class="col-md-12 ml-auto mr-auto text-center">
            <h2><i class="now-ui-icons ui-1_calendar-60"></i> Thể lệ, nội dung cuộc thi</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src='/assets/img/4.jpg' alt="" class="img-fluid hoangdd-img-float-right">
                <div class="hoangdd-text-float-left">
                    <p> Nội dung cuộc thi là những câu hỏi, bài tập, tình huống đòi hỏi các thí sinh dự thi phải có hiểu
                        biết, kĩ năng về Tin học thuộc các phần sau: </p>
                    <ul>
                        <li>Tin học văn phòng: cách thức sử dụng bộ sản phẩm Microsoft Office (Word, Excel, PowerPoint
                            Phiên
                            bản 2010)
                        </li>
                        <li>Tin học căn bản: Hệ điều hành, mạng máy tính và Internet, các khái niệm tin học thông dụng
                            ...
                        </li>
                        <li>Hiểu biết chung: Những hiểu biết chung, vấn đề thời sự về CNTT, xu thế phát triển CNTT hiện
                            nay
                        </li>
                    </ul>

                    <p> Cuộc thi được tổ chức thành ba vòng thi: </p>
                    <ul>
                        <li>Vòng 1: Trắc nghiệm trên máy tính. Tại vòng này các thí sinh làm một bài thi trắc nghiệm
                            trên máy tính với
                            các nội dung thi đã liệt kê ở trên để chọn ra Top 30 thí sinh xuất sắc nhất bước vào vòng 2.
                        </li>
                        <li>Vòng 2: Bài thi MOS: Tại vòng thi này các thí sinh làm bài kiểm tra tin học văn phòng theo
                            khuôn mẫu và
                            cách chấm điểm của bài kiểm tra lấy chứng chỉ MOS của MicroSoft để chọn ra top 12 thí sinh
                            xuất sắc nhất vòng vòng chung kết
                        </li>
                        <li>Vòng chung kết: Tại vòng thi này top 12 thí sinh sẽ tham gia dự thi dưới hình thức sân khấu
                            hoá tại hội trường 700 Học viện Tài chính
                        </li>
                    </ul>
                </div>

            </div>

        </div>


    </div>

    <div class="section section-doituong">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2><i class="now-ui-icons emoticons_satisfied"></i> Đối tượng, cách thức đăng ký dự thi</h2>
            </div>
            <div class="col-md-12 text-justify">
                <ul>
                    <li>Tất cả các sinh viên đang học tập tại Học viện Tài chính đều có thể đăng ký tham dự cuộc thi này</li>
                    <li>Để đăng ký dự thi thí sinh đăng ký onlie tại địa chỉ <a href="#">Đăng ký</a> Sau khi đăng ký thí sinh vẫn có
                    thể chỉnh lại các thông tin cá nhân trước khi hệ thống dăng ký đóng cửa</li>

                    <li>Mọi thắc mắc về cuộc thi thí sinh có thể liên hệ với BTC tại fanpage <a href="https://www.facebook.com/olympictinhocvanphong2016/">
                        https://www.facebook.com/olympictinhocvanphong2016/</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section section-trophy">
        <div class="col-md-12 ml-auto mr-auto text-center">
            <h2><i class="now-ui-icons sport_trophy"></i> Giải thưởng</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src='/assets/img/5.jpg' alt="" class="img-fluid hoangdd-img-float-left">
                <div>
                    <p>Cơ cấu giải thưởng của cuộc thi bao gồm:</p>
                    <ul>
                        <li>Một giải nhất: 3.000.000đ + giấy chứng nhận của Đoàn TN Học viện</li>
                        <li>Một giải nhì  1.500.000đ  + giấy chứng nhận của Đoàn TN Học viện</li>
                        <li>Hai giải ba 1.000.000đ + giấy chứng nhận của Đoàn TN Học viện</li>
                    </ul>
                    <p>
                        Ngoài ra BTC còn trao nhiều giải thưởng phụ khác như giải thưởng cho Top 30, các học bổng, phần quà hấp dẫn từ
                        các nhà tài trợ
                    </p>
                </div>

            </div>

        </div>


    </div>

    <div class="section section-sponsor">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto text-center">
                <h2><i class="now-ui-icons objects_diamond"></i> Các nhà tài trợ</h2>
            </div>

        </div>
    </div>
</div>