<img class="hoangdd-banner" src="assets/img/banner.png" alt="">
<div class="container">
    <div class="col-md-12 ml-auto mr-auto text-center">
        <h2>Giới thiệu cuộc thi Olympic Tin học Học viện Tài chính</h2>
        <h5 class="description">
            Olympic Tin học (tiền thân là cuộc thi Olympic Tin học văn phòng) là một cuộc thi thường niên được tổ chức
            bởi
            Liên chi đoàn Khoa Hệ thống thông tin kinh tế và Câu lạc bộ Tin học Học viện Tài chính <br>

            Mục đích kỳ thi nhằm tạo ra một sân chơi bổ ích, lý thú cho các bạn Sinh viên yêu thích tin học. Cuộc thi
            đặc biệt nhấn mạnh vào
            các kiến thức, kĩ năng tin học cần thiết với bất cứ một sinh viên khối ngành Kinh tế nào như Tin học văn
            phòng, tin học ứng dụng trong kinh tế, các xu hướng phát triển nổi bật trong ngành CNTTN ...

            Cuộc thi cũng giúp nâng cao nhận thức và tạo điều kiện cho sinh viên Học viện tiếp cận các kỹ năng tin học
            theo tiêu chuẩn quốc tế,
            nâng cao kết quả học tập và hiệu quả trong công việc sau này;
        </h5>
        <div class="separator separator-primary"></div>
    </div>

    <div class="section-story-overview">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container image-left" style="background-image: url('../assets/img/2.jpg')">
                </div>
                <!-- Second image on the left side of the article -->
                <div class="image-container" style="background-image: url('../assets/img/1.jpg')"></div>
            </div>
            <div class="col-md-5">
                <!-- First image on the right side, above the article -->
                <div class="image-container image-right" style="background-image: url('../assets/img/3.jpg')"></div>
                <p> Năm 2016 cuộc thi "Olympic Tin học văn phòng" tổ chức lần đầu tiên và đã thu hút được sự quan tâm
                    tham gia rất lớn của các bạn sinh viên khi có tới hơn một nghìn thí sinh đăng ký dự thi
                </p>
                <p>
                    Năm 2017, cuộc thi được đổi tên thành: "Olympic Tin học Học iện tài chính" với chủ đề là "Cách mạng
                    công nghiệp 4.0". Cuộc thi
                    không những yêu cầu ở các thí sinh thành thạo những kĩ năng sử dụng các công cụ tin học văn phòng
                    (như bộ Microsoft Office, Hệ điều hành Windows...) mà còn
                    yêu cầu thí sinh nắm bắt được những kiến thức thời sự, hiểu biết cơ bản về sự phát triển trong ngành
                    CNTT thời gian gần đây. 
                </p>

            </div>
        </div>
    </div>
</div>